  .task-list {
    margin-bottom: 200px;
  }
  .task-item {
    color: aliceblue;
    border: 1 px solid #000;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 12px;
    background-color: rgb(97, 62, 62);
    min-width: 200px;
  }
  .task-item.done {
    background-color: green;
  }
  .delete-btn {
    float: ri;
  }

  .u-full-width {
    margin-bottom: 20px;
  }

  .buttonSubmit {
    width: 200px;
  }